<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" href="estilo.css" rel="stylesheet" />
    <title>Simot 3.0</title>
</head>

<body>
    <header id="header" class="header has-sticky sticky-jump sticky-hide-on-scroll">
        <div class="header-wrapper">
            <div id="masthead" class="header-main  ">
                <div class="header-inner flex-row container logo-left" role="navigation">

                    <!-- Logo -->
                    <div id="logo" class="flex-col logo">
                        <!-- Header logo -->
                        <a href="" title="SIMOT" rel="home">
                            <img width="200" height="154" src="logosimot.jpeg" class="header_logo header-logo"
                                alt="" /><img width="200" height="154" src="" class="header-logo-dark" alt="" /></a>
                    </div>

                    <!-- Mobile Left Elements -->
                    <div class="flex-col show-for-medium flex-left">
                        <ul class="mobile-nav nav nav-left ">
                        </ul>
                    </div>

                    <!-- Left Elements -->
                    <div class="flex-col hide-for-medium flex-left flex-grow">
                        <ul class="header-nav header-nav-main nav nav-left  nav-size-medium nav-spacing-large">
                        </ul>
                    </div>

                    <!-- Right Elements -->
                    <div class="flex-col hide-for-medium flex-right">
                        <ul class="header-nav header-nav-main nav nav-right  nav-size-medium nav-spacing-large">
                            <li id="menu-item-13948"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13948 menu-item-design-default">
                                <a href="" class="nav-top-link">Pesquisa</a>
                            </li>
                            <li id="menu-item-13790"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13790 menu-item-design-default">
                                <a href="#" class="nav-top-link">Cidades<i class="nav-top-link"></i></a>
                                <ul class="nav-dropdown nav-dropdown-default">
                                    <li id="menu-item-21923"
                                        class="menu-item menu-item-type-gs_sim menu-item-object-gs_sim menu-item-21923">

                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-16892"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16892 menu-item-design-default">
                                <a href="" class="nav-top-link">Tutorial</a>
                            </li>
                            <li id="menu-item-22546"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22546 menu-item-design-default">
                                <a href="" class="nav-top-link">Contato</a>
                            </li>
                            <li id="menu-item-13792"
                                class="menuborder contato-topo menu-item menu-item-type-post_type menu-item-object-page menu-item-13792 menu-item-design-default">
                                <a href="" class="nav-top-link">Login</a>
                            </li>

                        </ul>
                    </div>

                    <!-- Mobile Right Elements -->
                    <div class="flex-col show-for-medium flex-right">
                        <ul class="mobile-nav nav nav-right ">
                            <li class="nav-icon has-icon">
                                <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay"
                                    data-color="dark" class="is-small" aria-label="Menu" aria-controls="main-menu"
                                    aria-expanded="false">

                                    <i class="icon-menu"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div><!-- .header-inner -->

            </div><!-- .header-main -->
            <div class="header-bg-container fill">
                <div class="header-bg-image fill"></div>
                <div class="header-bg-color fill"></div>
            </div>
        </div><!-- header-wrapper-->

        <!-- <script src="//code.jivosite.com/widget/HlRFWX5HNL" async></script> -->

    </header>

    <main id="main" class="">
        <div id="content" role="main" class="content-area">
            <section class="section pt-5 pt-md-7 pb-8 pb-md-10" id="section_249853285">
                <div class="bg section-bg fill bg-fill bg-loaded bg-loaded"> </div>

                <div class="section-content relative">
                    <div class="row align-middle align-center" id="row-959478858">
                        <div id="col-165032183" class="col mb-4 medium-6 small-12 large-6">
                            <div class="col-inner">
                                <div id="text-249841249" class="text display-4 pr-lg-6">
                                    <h1 class="mb-5">O que é o SIMOT</h1>
                                </div>
                                <div id="text-3929732422" class="text mb-5 pr-lg-11 display-1">
                                    <h5 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Quisque purus ex, facilisis et felis eu, gravida cursus arcu. In hac
                                        habitasse platea dictumst</h5>
                                </div>
                                <a href="#form" target="_self" class="button success lowercase hide-for-small"
                                    style="border-radius:99px;">
                                    <span> Saiba mais</span> </a>
                            </div>
                        </div>
                        <div id="col-635654308" class="col img-1 medium-6 small-12 large-6">
                            <div class="col-inner">
                                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_752186135">
                                    <div class="img-inner dark">
                                        <!-- montagem com 4 imagens -->
                                        <img width="678" height="576"
                                            src="https://www.homemmaquina.com.br/wp-content/uploads/2022/11/5554-min.jpg"
                                            class="attachment-original size-original" alt="" decoding="async"
                                            loading="lazy"
                                            srcset="https://www.homemmaquina.com.br/wp-content/uploads/2022/11/5554-min.jpg 678w, https://www.homemmaquina.com.br/wp-content/uploads/2022/11/5554-min-300x255.jpg 300w"
                                            sizes="(max-width: 678px) 100vw, 678px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </section>
            <!--CARDS DA METODOLOGIA-->>
            <section class="section pt-7 pt-md-11 pb-7 pb-md-11" id="section_1105967087">
                <div class="bg section-bg fill bg-fill bg-loaded bg-loaded"> </div>

                <div class="section-content relative">
                    <div class="row align-middle align-center" id="row-564194550">
                        <div id="col-191886058" class="col mb-0 mb-md-5 medium-8 small-12 large-8">
                            <div class="col-inner text-center">
                                <div id="text-175094811" class="text text-color-2">
                                    <h3>NOSSA METODOLOGIA</h3>
                                </div>
                            </div>
                        </div>

                        <div id="col-1759087524" class="col mb-5 mb-md-6 medium-8 small-12 large-8">
                            <div class="col-inner text-center">
                                <div id="text-1945654041" class="text text-color-9">
                                    <h5>Veja o que podemos fazer por você:</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-large align-center horizontal-scroll" id="row-1956557848">

                        <div id="col-1085902660" class="col col-3 mb-5 medium-7 small-12 large-3"
                            data-animate="fadeInUp">
                            <div class="col-inner">



                                <div class="icon-box featured-box icon-box-top text-left">
                                    <div class="icon-box-img" style="width: 46px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="47" height="47"
                                                    src="https://www.homemmaquina.com.br/wp-content/uploads/2022/11/5345.svg"
                                                    class="attachment-medium size-medium" alt="" decoding="async"
                                                    loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">

                                        <div id="text-3457082231" class="text display-3 text-color-2 mb-3 mb-md-3">

                                            <h3>Vantagem 01</h3>
                                        </div>

                                        <div id="text-2811076048" class="text display-3 pr-md-5 mb-4 mb-md-4">

                                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque purus
                                                ex, facilisis et felis eu, gravida cursus arcu. In hac habitasse platea
                                                dictumst.</h6>
                                        </div>

                                        <div id="text-665240154" class="text text-color-2 text-color-10">

                                            <p>Suspendisse varius ipsum in dolor egestas tincidunt. Donec iaculis arcu
                                                mauris,
                                                pretium venenatis turpis scelerisque et. Sed et tempor purus. Proin sed
                                                ante sem.
                                                Suspendisse vitae urna suscipit, porta dui sed, ultricies tellus.
                                                Integer eu dolor sagittis, molestie turpis vitae, cursus magna.
                                                Suspendisse potenti.</p>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>



                        <div id="col-956001112" class="col col-3 mb-5 medium-7 small-12 large-3"
                            data-animate="fadeInUp">
                            <div class="col-inner">



                                <div class="icon-box featured-box icon-box-top text-left">
                                    <div class="icon-box-img" style="width: 46px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="24" height="24"
                                                    src="https://www.homemmaquina.com.br/wp-content/uploads/2022/11/experiencia.svg"
                                                    class="attachment-medium size-medium" alt="" decoding="async"
                                                    loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">

                                        <div id="text-2372027090" class="text display-3 text-color-2 mb-3 mb-md-3">

                                            <h3>vantagem 02</h3>
                                        </div>

                                        <div id="text-1595783977" class="text display-3 pr-md-9 mb-4 mb-md-4">

                                            <h6>Suspendisse varius ipsum in dolor egestas tincidunt. Donec iaculis arcu
                                                mauris, pretium venenatis turpis scelerisque et. Sed et tempor purus.
                                                Proin sed ante sem. Suspendisse vitae urna suscipit, porta dui sed,
                                                ultricies tellus. Integer eu dolor sagittis, molestie turpis vitae,
                                                cursus magna. Suspendisse potenti.</h6>
                                        </div>

                                        <div id="text-326667618" class="text text-color-2 text-color-10">

                                            <p>Suspendisse varius ipsum in dolor egestas tincidunt. Donec iaculis arcu
                                                mauris, pretium venenatis turpis scelerisque et. Sed et tempor purus.
                                                Proin sed ante sem.
                                                Suspendisse vitae urna suscipit, porta dui sed, ultricies tellus.
                                                Integer eu dolor sagittis, molestie turpis vitae, cursus magna.
                                                Suspendisse potenti.<br />
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>



                        <div id="col-1346974158" class="col col-3 mb-5 medium-7 small-12 large-3"
                            data-animate="fadeInUp">
                            <div class="col-inner">



                                <div class="icon-box featured-box icon-box-top text-left">
                                    <div class="icon-box-img" style="width: 46px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="43" height="42"
                                                    src="https://www.homemmaquina.com.br/wp-content/uploads/2022/11/6456.svg"
                                                    class="attachment-medium size-medium" alt="" decoding="async"
                                                    loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">

                                        <div id="text-3280728608" class="text display-3 text-color-2 mb-3 mb-md-3">

                                            <h3>vantagem 03</h3>
                                        </div>

                                        <div id="text-2730062703" class="text display-3 pr-md-6 mb-4 mb-md-4">

                                            <h6>Suspendisse varius ipsum in dolor egestas tincidunt. Donec iaculis arcu
                                                mauris, pretium venenatis turpis scelerisque et. Sed et tempor purus.
                                                Proin sed ante sem. Suspendisse vitae urna suscipit, porta dui sed,
                                                ultricies tellus. Integer eu dolor sagittis, molestie turpis vitae,
                                                cursus magna. Suspendisse potenti.e</h6>
                                        </div>

                                        <div id="text-3619320125" class="text text-color-2 text-color-10">

                                            <p>DSuspendisse varius ipsum in dolor egestas tincidunt. Donec iaculis arcu
                                                mauris, pretium venenatis turpis scelerisque et. Sed et tempor purus.
                                                Proin sed ante sem.
                                                Suspendisse vitae urna suscipit, porta dui sed, ultricies tellus.
                                                Integer eu dolor sagittis, molestie turpis vitae, cursus magna.
                                                Suspendisse potenti.<br />
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>



                        <div id="col-1688989526" class="col col-3 mb-5 medium-7 small-12 large-3"
                            data-animate="fadeInUp">
                            <div class="col-inner">



                                <div class="icon-box featured-box icon-box-top text-left">
                                    <div class="icon-box-img" style="width: 46px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="44" height="44"
                                                    src="https://www.homemmaquina.com.br/wp-content/uploads/2022/11/7325.svg"
                                                    class="attachment-medium size-medium" alt="" decoding="async"
                                                    loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">

                                        <div id="text-2120484327" class="text display-3 text-color-2 mb-3 mb-md-3">

                                            <h3>vantagem 04</h3>
                                        </div>

                                        <div id="text-3253071557" class="text display-3 pr-md-6 mb-4 mb-md-4">

                                            <h6>Suspendisse varius ipsum in dolor egestas tincidunt. Donec iaculis arcu
                                                mauris, pretium venenatis turpis scelerisque et. Sed et tempor purus.
                                                Proin sed ante sem.
                                                Suspendisse vitae urna suscipit, porta dui sed, ultricies tellus.
                                                Integer eu dolor sagittis, molestie turpis vitae, cursus magna.
                                                Suspendisse potenti.</h6>
                                        </div>

                                        <div id="text-325708707" class="text text-color-2 text-color-10">

                                            <p>Suspendisse varius ipsum in dolor egestas tincidunt. Donec iaculis arcu
                                                mauris, pretium venenatis turpis scelerisque et. Sed et tempor purus.
                                                Proin sed ante sem.
                                                Suspendisse vitae urna suscipit, porta dui sed, ultricies tellus.
                                                Integer eu dolor sagittis, molestie turpis vitae, cursus magna.
                                                Suspendisse potenti.<br />
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>




                    </div>
                </div>
            </section>
    </main>
</body>

</html>